@import "tailwindcss";


#root{
  background-color: #E2E5E9;
  padding-bottom:100px;
  min-height: 100vh;
}
@media (max-width: 600px) {
  .MuiContainer-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.css-1wlweuy{
    border-radius: 15px !important;
}
.modal input:focus{
  outline: 1px solid black;
  transition: 0.3s;
}
.modal input::placeholder{
  font-size: 14px;

}
.modal textarea::placeholder{
  font-size:14px;
}

.file-input {
  display: none;
}
.rounded-full {
  border-radius: 50%;
}
.object-cover {
  object-fit: cover;
}

.custom-file-button {
  margin:15px 0;
  display: inline-block;
  padding: 5px 15px;
  background-color: rgb(120, 75, 251);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.custom-file-button:hover {
  background-color: rgb(120, 75, 251);
}

.file-name {
  margin-left: 10px;
  color: #666;
}
.nav-container {
  position: sticky;
  top: 0;
  background-color: #784bfb;
  color: white;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  z-index: 50;
  padding: 0 1rem;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.nav-brand {
  display: flex;
  align-items: center;
}

.brand-title {
  font-weight: bold;
  font-size: 1.875rem;
}

.nav-links {
  display: flex;
  margin-left: 1.25rem;
  align-items: center;
}

.nav-link {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #9ca3af;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.25rem;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  margin-right: 1.25rem;
  font-weight: bold;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.create-post-fab {
  font-size: 60px !important;
  box-sizing:content-box;
  padding:10px;
  background-color: rgb(120, 75, 251);
  cursor: pointer;
  border-radius: 100%;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
}

.form-input, .form-textarea {
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.form-textarea {
  min-height: 100px;
  resize: vertical;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.btn-secondary {
  margin-right: 0.625rem;
  background-color: #6b7280;
}

.modal-divider {
  border-color: #777777;
  margin: 0.25rem 0;
  margin-bottom: 1.5rem;
}

.modal-title {
  margin-bottom: 1.25rem;
  font-weight: bold;
}

.file-upload-container {
  margin: 1rem 0;
}